<footer>
	<div>
		
		<ul>
			<li>
				<a class="logo" href="https://www.linkedin.com/in/hydong/">
					<img src="{{ '/assets/img/icons/linkedin.svg' }}" alt="">
				</a>
			</li>
			<li>
				<a class="logo" href="https://www.reddit.com/user/YidonHongski/">
					<img src="{{ '/assets/img/icons/reddit.svg' }}" alt="">
				</a>
			</li>
			<li>
				<a class="logo" href="https://github.com/scorchingoyster">
					<img src="{{ '/assets/img/icons/github.svg' }}" alt="">
				</a>
			</li>
			<li>
				<a class="logo" href="https://hirc.substack.com/">
					<img src="{{ '/assets/img/icons/pen.svg' }}" alt="">
				</a>
		</ul>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
			<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
		</a>
	</div>
</footer>
