@font-face {
	font-family: Merriweather;
	src: url("/assets/font/Merriweather-Light.woff2") format("woff2"),
				url("/assets/font/Merriweather-LightItalic.woff2") format("woff2"),
				url("/assets/font/Merriweather-Regular.woff2") format("woff2"),
				url("/assets/font/Merriweather-Italic.woff2") format("woff2"),
				url("/assets/font/Merriweather-Bold.woff2") format("woff2"),
				url("/assets/font/Merriweather-BoldItalic.woff2") format("woff2");
}

@font-face {
	font-family: FiraSans;
	src: url("/assets/font/FiraSans-Regular.woff2") format("woff2"),
				url("/assets/font/FiraSans-Italic.woff2") format("woff2"),
				url("/assets/font/FiraSans-SemiBold.woff2") format("woff2"),
				url("/assets/font/FiraSans-SemiBoldItalic.woff2") format("woff2");
}

html {
	font-size: $font-size !important;
	font-family: FiraSans;
	line-height: $line-height;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Merriweather;
}