html {
	min-height: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: $base-font;
	.main {
		flex-grow: 1;
	}
	header, footer {
		flex-shrink: 0;
	}
}

html {
	font-size: $font-size !important;
	font-family: FiraSans;
	line-height: $line-height;
}


h1,h2,h3,h4,h5,h6 {
	font-family: Merriweather;
}

hr {
	width: 350px;
	height: 5px;
	overflow: visible;
	margin: 2rem auto;
	border: none;
	border-top: 3px double lighten($base-grey,30%);
	text-align: center;
}

hr:after {
    background: #fff;
    content: '⋅';
    padding: 0 5px;
    position: relative;
    top: -16px;
}

.main a:not(.thumb-link) {
	color: $link;
	text-decoration: none;
	@include color-transition;
	&:hover {
		color: $link;
		border-bottom: 2px solid lighten($link,50%);
	}
	&:active {
		color: darken($link, 50%);
	}
}

