@font-face {
	font-family: Merriweather;
	src: url("../font/Merriweather-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Merriweather;
	src: url("../font/Merriweather-LightItalic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Merriweather;
	src: url("../font/Merriweather-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Merriweather;
	src: url("../font/Merriweather-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Merriweather;
	src: url("../font/Merriweather-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: Merriweather;
	src: url("../font/Merriweather-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}


@font-face {
	font-family: FiraSans;
	src: url("../font/FiraSans-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: FiraSans;
	src: url("../font/FiraSans-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: FiraSans;
	src: url("../font/FiraSans-SemiBold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: FiraSans;
	src: url("../font/FiraSans-SemiBoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

