header {

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1rem;
	border-bottom: 0.1rem solid whitesmoke;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: $default-width;
	}
	.logo {
		display: inline-block;
		max-width: 2.5rem;
		img {
			width: 100%;
			opacity: 0.8;
			transition: opacity 0.2s ease;
			&:hover {
				opacity: 1;
			}
		}
	}

	.main-nav {
		font-size: 0.7rem;
		font-weight: 600;
		ul {
			list-style: none;
			li {
				display: inline-block;
				margin: 0 0.8rem;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: $base-grey;
					text-decoration: none;
					@include color-transition
					&:hover {
						color: $link;
						border-bottom: 2px solid lighten($link,50%);
					}
				}
			}
		}
	}

}