header {

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	border-bottom: 2px solid whitesmoke;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: $default-width;
	}
	.logo {
		display: inline-block;
		max-width: 50px;
		img {
			width: 100%;
		}
	}

	.main-nav {
		ul {
			list-style: none;
			li {
				display: inline-block;
			}
		}
	}

}