@mixin color-transition {
	transition: color 0.2s ease;
}

// typography
$font-size: 20px;
$line-height: 1.5;

// sizing
$default-width: 1700px;
$text-width: 700px;

// color
$base-font: #2b2b2b;
$base-grey: #8c8c8c;
$link: #396884;

$cdr-navy: #13294B;
$cdr-beige: #f2eadd;