// typography
$font-size: 20px;
$line-height: 1.5;

// sizing
$default-width: 1200px;
$text-width: 700px;

// color
$base-font: #2b2b2b;
$base-grey: #a0a0a0;
$border-grey: #e2e2e2;
$link: #396884;