.divider::after {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
	color: $base-grey;
	font-size: 2rem;
	content: url('/assets/img/cdr/divider.png')
}

section {

	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 1rem;

  color: $base-font;

	&.grey {
		background-color: whitesmoke;
		border-top: 1px solid darken(whitesmoke, 10%);
		border-bottom: 1px solid darken(whitesmoke, 10%); 
	}

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		max-width: $default-width;
	}
		
	.graphics {
	 	display: flex;
	  justify-content: center;
		margin: 1rem 0;
		flex-wrap: wrap;
		figure {
			display: flex;
			flex-direction: column;
			align-items: center;
			div {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				& > img {
					align-self: center;
				}
			}
		}

		img {
			max-width: 100%;
			object-fit: contain;
		}

		figcaption {
			font-size: 0.8rem;
			opacity: 0.7;
		}

		&.screen {
			img {
				max-width: 500px;
				margin: 0.8rem;
				border: 1px solid darken(whitesmoke, 15%);
				box-shadow: 0 0 0.2rem whitesmoke;
				transition: box-shadow 0.5s ease;
				&:hover {
					box-shadow: 0 0 0.4rem darken(whitesmoke, 25%);
				}
			}

			&.alt {
				img {
					margin: 0.8rem;
					border: 2px solid lighten($cdr-navy, 15%);
					box-shadow: 0 0 0.5rem lighten($cdr-navy, 10%);
				}
			}
		}
	}

	.text {
		max-width: $text-width;

		h1 {
			font-size: 1.7em;
		}

		h1, h2, h3, h4, h5, h6 {
			display: flex;
			flex-direction: column;
			line-height: 1.5;
			span {
				font-weight: 700;
				font-size: 0.8rem;
				color: $base-grey;
			}
		}

		.list {
			margin: 0.1rem 0;
			padding: 0.05px;
			font-size: 0.8rem;
			h3 {
				color: darken($base-grey, 10%);
			}
			// need fix: media query
			.cols {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				padding: 0;
				& > li:not(li:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}


	// CDR

	em {
		background: linear-gradient(180deg, rgba(255,255,255,0), $cdr-beige);

		font-style: normal;
	}



	&.cdr-banner {
		background: linear-gradient(0deg, rgba(255,255,255,0), $cdr-beige);
	}

	&.cdr-navy {
		background-color: $cdr-navy;
		border-top: 1px solid lighten($cdr-navy, 20%);
		border-bottom: 1px solid lighten($cdr-navy, 20%);
		color: white;
		.text h2 span {
			color: lighten($cdr-navy,60%);
		}

		blockquote {
			margin: 2rem 1.5rem;
			padding: 1rem 0;
			border-top: 1px solid lighten($cdr-navy,15%);
			border-bottom: 1px solid lighten($cdr-navy,15%);
			font: 1.2rem MerriweatherItalic;
			line-height: 1.5;
			text-align: center;
			color: $cdr-beige;
		}
		a {
			color: lighten($link,30%);
			text-decoration: none;
			@include color-transition;
			&:hover {
				color: lighten($link,50%);
				border-bottom: 2px solid lighten($cdr-navy,15%);
			}
			&:active {
				color: $link;
			}
		}
	}

	&.cdr-photo {
		height: 300px;
		background-image: url("/assets/img/cdr/fall-tower.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: inset 0 0 1rem 0.1rem lighten($base-font, 15%);
	}

	ul {
		list-style: none;
		// Nested li titles
		&:not(.cols) li::before {
		  content: "\2022";  
		  color: lighten($cdr-navy, 30%);
		  font-weight: bold;
		  display: inline-block;
		  width: 1em;
		  margin-left: -2em;
		}
	}

	// end CDR
}