section {

	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem;

  color: $base-font;

	&.grey {
		background-color: whitesmoke;
		border-top: 1px solid $border-grey;
		border-bottom: 1px solid $border-grey; 
	}

	& > div {
		display: flex;
		flex-direction: column;

		align-items: center;
		max-width: $default-width;

		.graphics {
			margin: 1rem 0;
			img {
				max-width: 100%;
			}
		}

		.text {
			max-width: $text-width;
			h1 {
				font-size: 1.7em;
			}
			h1, h2, h3, h4, h5, h6 {
				display: flex;
				flex-direction: column;
				line-height: 1.5;
				span {
					font-weight: 700;
					font-size: $font-size;
					color: $base-grey;
				}
			}
			.list {
				margin: 0.1rem 0;
				padding: 0.05px;
				font-size: 0.8rem;
				h3 {
					color: $base-grey;
				}
			}
		}
	}
}