.divider::after {
	display: flex;
	justify-content: center;
	color: $base-grey;
	font-size: 2rem;
	content: url('/assets/img/cdr/divider.png')
}

section {

	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem;

  color: $base-font;

	&.grey {
		background-color: whitesmoke;
		border-top: 1px solid darken(whitesmoke, 10%);
		border-bottom: 1px solid darken(whitesmoke, 10%); 
	}

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: $default-width;

		.graphics {
		 	display: flex;
		  justify-content: center;
		  flex-wrap: wrap;
			margin: 1rem 0;
			img {
				max-width: 100%;
			}
			figcaption {
				font-size: 0.8rem;
				font-weight: 600;
				opacity: 0.6;
			}
		}

		.text {
			max-width: $text-width;
			h1 {
				font-size: 1.7em;
			}
			h1, h2, h3, h4, h5, h6 {
				display: flex;
				flex-direction: column;
				line-height: 1.5;
				span {
					font-weight: 700;
					font-size: 0.8rem;
					color: $base-grey;
				}
			}
			.list {
				margin: 0.1rem 0;
				padding: 0.05px;
				font-size: 0.8rem;
				h3 {
					color: darken($base-grey, 10%);
				}
				// need fix: media query
				.cols {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					padding: 0;
					& > li:not(li:last-child) {
						margin-bottom: 1rem;
					}
				}
			}
		}
		
	}
	// CDR

	em {
		background: linear-gradient(180deg, rgba(255,255,255,0), $cdr-beige);

		font-style: normal;
	}

	&.cdr-banner {
		background: linear-gradient(0deg, rgba(255,255,255,0), $cdr-beige);
	}

	&.cdr-navy {
		background-color: $cdr-navy;
		border-top: 1px solid lighten($cdr-navy, 20%);
		border-bottom: 1px solid lighten($cdr-navy, 20%);
		color: white;
		.text h2 span {
			color: lighten($cdr-navy,60%);
		}
		a {
			color: white;
			@include color-transition
			&:hover {
				color: lighten($cdr-navy,60%);
			}
		}
		blockquote {
			margin: 2rem 1.5rem;
			padding: 1rem 0;
			border-top: 1px solid lighten($cdr-navy,15%);
			border-bottom: 1px solid lighten($cdr-navy,15%);
			font: 1.4rem Merriweather regular;
			line-height: 1.5;
			text-align: center;
			color: $cdr-beige;
		}
	}

	ul {
		list-style: none;
		&:not(.cols) li::before {
		  content: "\2022";  
		  color: #017FAF;
		  font-weight: bold;
		  display: inline-block;
		  width: 1em;
		  margin-left: -2em;
		}
	}

	// end CDR
}